# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local
.env.development
.env.test
.env.production
*.env

# typescript
*.tsbuildinfo

# Expo & React Native specific
android/
ios/
*.android.bundle
*.ios.bundle
*.hprof

# Build files
build/
*.apk
*.aab
*.ipa
*.gradle
android/

# EAS
.eas/
.easignore

# IDE specific
.idea/
.vscode/
*.swp
*.swo

# Your custom ignores
app-example
Keys.jsx
firebaseAccountKey.json
firebaseConfig.js